/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    /* margin: 0; */
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.5rem;
}

img,
svg,
picture,
video {
    max-width: 100%;
}

.container.noname {
    margin-top: 3rem;
}

/* scritte */
h2 {
    font-size: 3rem;
}


/* Blocchi debug*/
.box {
    background-color: gold;
    color: blue;
    min-height: 80px;
    line-height: 80px;
    border: 1px dashed black;
    text-align: center;
}

.box-violet {
    background-color: violet;
    color: white;
    min-height: 50px;
    line-height: 50px;
    border: 1px dashed lightgrey;
    text-align: center;
}

.box-offset {
    background-color: rgb(0, 167, 251);
    color: gold;
    min-height: 60px;
    line-height: 60px;
    border: 1px dashed black;
    text-align: center;
}


.pdg {
    padding: 0.8rem 0.8rem 0 0.8rem;
}

.box:hover {
    background-color: blue;
    color: yellow;
}

.box-offset:hover {
    background-color: crimson;
    color: chartreuse;
}